@page
@model BooksList.Pages.BookList.CreateModel
@{
    ViewData["Title"] = "Create";
}

<br>
<h2 class="text-info">Create New Book</h2>
<br>

<div class="border">
    <form method="POST">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container" style="padding: 30px;">
            <!-- Book Name -->
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Book.Name"></label>
                    </div>
                    <div class="col-sm-8">
                        <input asp-for="Book.Name" class="form-control">
                        <span asp-validation-for="Book.Name" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!-- Book Author -->
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Book.Author"></label>
                    </div>
                    <div class="col-sm-8">
                        <input asp-for="Book.Author" class="form-control">
                    </div>
                </div>
            </div>

            <!-- Book ISBN -->
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Book.ISBN"></label>
                    </div>
                    <div class="col-sm-8">
                        <input asp-for="Book.ISBN" class="form-control">
                    </div>
                </div>
            </div>

            <!-- Actions -->
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4 offset-sm-2">
                        <input type="submit" value="Create" class="btn btn-primary form-control">
                    </div>
                    <div class="col-sm-4">
                        <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}